{% load static %}

<!DOCTYPE html>
<html lang="es">

<head>
    <title>Login</title>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />

    <link rel="stylesheet" href="{% static '/materialize/css/materialize.min.css' %}" media="screen,projection">
    <link rel="stylesheet" href="{% static '/font-awesome/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static '/style.css' %}">

</head>
{% comment %} 
<body>

    <div class="col m12 s12 x12 navbar-fixed">
        <nav>
            <span class="left brand-logo text-darken-2">
			<i onclick="Materialize.showStaggeredList('#slide-out')" id="btnMenu" data-activates="slide-out" class="deslizar icono-menu fa fa-bars fa-2x "></i>
			</span>
            <h4 class="center-align "> <span class="hide-on-small-only">Iniciar</span> Sesión</h4>
        </nav>
    </div>

    <ul id="slide-out" class="side-nav ">
        <li>
            <i class="iconos-pequeno prefix fa fa-user-o fa-2x"></i>
        </li>
        <!-- <li>
          <div class="divider"></div>
        </li> -->
        <li class=" ">
            <a href="/" class="btn"><i class="iconos-pequeno fa fa-home fa-1x" ></i> Inicio</a>
        </li>
        <li>
            <a href="/persona" class="btn"><i class="iconos-pequeno fa fa-user fa-1x" ></i> Agregar Personas </a>
        </li>
        <li class=" ">
            <a href="/asignacion" class="btn"><i class="iconos-pequeno fa fa-desktop fa-1x" ></i> Equipos Asignados</a>
        </li>
        <li class=" ">
            <a href="/password" class="active-btn btn"><i class="iconos-pequeno fa fa-key fa-1x" ></i> Cambiar Contraseña</a>
        </li>
        <li class=" ">
            <a href="" class="btn"><i class="iconos-pequeno fa fa-cog fa-1x" ></i> Opciones</a>
        </li>
        <li class=" ">
            <a href="" class="btn"><i class="iconos-pequeno fa fa-power-off fa-1x" ></i> Cerrar Sección</a>
        </li>
    </ul>

    <div class="container ">
        <div class=" row">
            <div class=" box1 col m6 offset-m3 s12 x12">
                <form action="" method="POST">{% csrf_token %}

                    <!--   username   -->
                    <div class="input-field">
                        <i class="prefix fa fa-key fa-3x"></i>
                        <input id="username" name="username" type="text" required>
                        <label for="username" class="active">Correo</label>
                    </div>

                    <!--  passwd  -->
                    <div class="input-field">
                        <i class="prefix fa fa-key fa-3x"></i>
                        <input id="passwd" name="passwd" type="password" required>
                        <label for="passwd" class="active">Clave</label>
                    </div>

                    <!--   Boton   -->
                    <div class=" center group navform wat-cf">
                        <button class="boton-guardar-contrasena hoverable waves-effect" type="submit">Iniciar Sesión</button>
                    </div>
                    <div>
                        {{ mensaje }}
                    </div>
                </form>
            </div>
        </div>
    </div> {% endcomment %}
<body id="login">

    <div>
        <h3 class="center">
            RESIDENCIAL BRISA FRESCA
        </h3>
    </div>
    <div class="container ">
        <div class=" row">
            <div class=" fondo z-depth-5">
                <form method="POST" action="{% url 'login' %}">{% csrf_token %}
                    <!--   Usuario   -->
                    <div class="input-field">
                        <i class="prefix fa fa-user fa-3x"></i>
                        <input id="username" name="username" type="text" required>
                        <label for="username" class="active">Usuario</label>
                    </div>

                    <!--  Clave  -->
                    <div class="input-field">
                        <i class="prefix fa fa-id-card fa-3x"></i>
                        <input id="password" name="password" type="password" required>
                        <label for="password" class="active">Clave</label>
                    </div>



                    <div class="row">
                        <!--   Crear Cuenta   -->
                        <div class="col m6 center group navform wat-cf">
                            <a class="btn hoverable waves-effect" href="/registro">Crear Cuenta</a>
                        </div>
                        <!--   Iniciar Sesion   -->
                        <div class="col m6 center group navform wat-cf">
                            <button class="btn hoverable waves-effect" type="submit">Iniciar Sesion</button>
                        </div>
                    </div>
                </form>
            </div>
                     {% if mensaje %}
                    <div id="mensaje" class="red ">
                        {{ mensaje }}
                    </div>
                    {% endif %}
        </div>
    </div>

    <script src="{% static '/jquery/jquery-3.2.1.min.js' %}"></script>
    <script src="{% static '/materialize/js/materialize.min.js' %}"></script>
    <script src="{% static '/style.js' %}"></script>
</body>

</html>