{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
    <title>Residencial</title>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />

    <link rel="stylesheet" href="{% static '/materialize/css/materialize.min.css' %}" media="screen,projection">
    <link rel="stylesheet" href="{% static '/font-awesome/css/font-awesome.min.css' %}">

    <link rel="stylesheet" href="{% static '/style.css' %}">
    <!--<link rel="icon" href="{% static '/imagenes/favicon.ico' %}" type="image / x-icon">-->
</head>

<body>


    <div class="container ">
        <div class=" row">
            <div class=" box1 col m6 offset-m3 s12 x12">
                <form method="POST" action="">{% csrf_token %}
                    <!--   Nombre Propietario o Inquilino   -->
                    <div class="input-field">
                        <i class="prefix fa fa-user fa-3x"></i>
                        <input id="propietario" name="propietario" type="text" required>
                        <label for="propietario" class="active">Nombre Propietario o Inquilino</label>
                    </div>

                    <!--  Cedula Propietario o Inquilino  -->
                    <div class="input-field">
                        <i class="prefix fa fa-id-card fa-3x"></i>
                        <input id="cedula" name="cedula" type="text" required>
                        <label for="cedula" class="active">Cedula Propietario o Inquilino</label>
                    </div>

                    <!--  Correo Propietario o Inquilino  -->
                    <div class="input-field">
                        <i class="prefix fa fa-at fa-3x"></i>
                        <input id="correo" name="correo" type="email" required>
                        <label for="correo" class="active">Correo Propietario o Inquilino</label>
                    </div>

                    <!--  Telefono Propietario o Inquilino  -->
                    <div class="input-field">
                        <i class="prefix fa fa-phone fa-3x"></i>
                        <input id="telefono" name="telefono" type="text" required>
                        <label for="telefono" class="active">Telefono Propietario o Inquilino</label>
                    </div>

                    <!--  Clave Propietario o Inquilino  -->
                    <div class="input-field">
                        <i class="prefix fa fa-key fa-3x"></i>
                        <input id="clave" name="clave" type="password" required autocomplete="off">
                        <label for="clave" class="active">Clave Propietario o Inquilino</label>
                    </div>

                    <!--   Boton   -->
                    <div class=" center group navform wat-cf">
                        <button class="btn hoverable waves-effect" type="submit">Registrar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>






    <script src="{% static '/jquery/jquery-3.2.1.min.js' %}"></script>
    <script src="{% static '/materialize/js/materialize.min.js' %}"></script>
    <script src="{% static '/style.js' %}"></script>

</body>

</html>