:root {
    --verde: #00afb5;
}

@media only screen and (min-width: 1200px) {
    html {
        font-size: 15px;
    }
}

@media only screen and (min-width: 601px) {
    nav {
        line-height: 50px;
    }
}

body {
    background-color: white;
    font-family: poppins, sans-serif;
}

@media only screen and (max-width: 1364px) {
    .sidenav {
        position: fixed;
        width: 330px;
    }
    .sidenav li>a.btn {
        font-size: 13px;
    }
}

@media only screen and (min-width: 1370px) {
    .sidenav {
        width: 330px;
    }
}

b,
strong {
    font-weight: 600;
}

th {
    font-weight: 600
}

.btn {
    background-color: var(--verde);
}

.sidenav li>a>i {
    color: #fff;
    font-size: 1.8em;
    margin-right: 20px;
}

.sidenav .divider {
    margin: 10px;
}


/*---------- Barra de Navegacion ---------- --------------------------------------------------------------- */

nav a.sidenav-trigger {
    display: inline;
}

nav {
    background-color: var(--verde);
    padding: 0px 9px;
    margin: 0px 10px 10px 0px;
    height: 50px;
}

nav div .nav-wrappe {
    line-height: 50px;
}

li {
    list-style: none;
}


/* ----- Login -----
--------------------------------------------------------------- */

@media only screen and (min-width: 360px) {
    #login .fondo {
        background-color: rgba(255, 255, 255, 0.32);
        width: 300px;
        border-radius: 15px;
        padding: 20px 10px;
        margin-bottom: 80px;
    }
    #login .row button,
    #login .row a {
        padding: 0 5% 0 5%;
        margin-top: 15px;
        width: 250px;
        border-radius: 5px;
        text-align: center;
    }
    #login h3 {
        font-size: 20px;
        margin: 15px 0;
    }
}

@media only screen and (min-width: 600px) {
    #login .fondo {
        background-color: rgba(255, 255, 255, 0.32);
        width: 480px;
        border-radius: 15px;
        padding: 30px;
    }
    #login .row button,
    #login .row a {
        padding: 0 5% 0 5%;
        width: 170px;
        border-radius: 5px;
        text-align: center;
    }
    #login h3 {
        font-size: 2.92rem;
    }
}

#login .container {
    margin: 50px 0%;
    width: 100%;
    max-width: 100%;
}

@media only screen and (min-width: 1364px) {
    #login .container {
        margin: 150px 0%;
        width: 100%;
        max-width: 100%;
    }
    #login h4 {
        margin-top: 0px;
        margin-bottom: 50px;
    }
}

@media only screen and (min-width: 1200px) {
    #login .container {
        margin: 50px 0%;
    }
    #login h4 {
        margin-top: 0px;
        margin-bottom: 0px;
    }
    #login .fondo {
        background-color: rgba(255, 255, 255, 0.32);
        width: 550px;
        border-radius: 15px;
        padding: 30px;
    }
    #login .row button,
    #login .row a {
        padding: 0 5% 0 5%;
        width: 170px;
        border-radius: 5px;
        text-align: center;
    }
}

#mensaje {
    background-color: red;
    color: #fff;
    border-radius: 10px;
    text-align: center;
    margin: 5% 25% 0 25%;
    padding: 10px;
    font-size: 20px;
}

#login {
    margin-top: 35px;
    color: #fff;
}

#login {
    background: -webkit-linear-gradient(1000deg, #66AAB3 50%, #26a69a 30%);
    /*background: url(/static/image/login.jpg)no-repeat;*/
    background-size: cover;
    background-attachment: fixed;
    overflow: auto;
    color: #fff;
    margin: 0%;
    height: 100%;
}

#residente {
    background: url(/static/image/login.jpg)no-repeat;
    background-size: cover;
    background-attachment: fixed;
    overflow: auto;
    color: #fff;
}

#login .row {
    margin: 0px;
}

#login label,
#residente label {
    color: #fff;
}

.row {
    margin-top: 20px;
}

.row button {
    background-color: #00c853;
}

.row button,
.row a {
    padding: 0 5% 0 5%;
    width: 150px;
    border-radius: 5px;
    text-align: center;
}

.row a {
    background-color: #40c4ff;
}


/* -------- Estado de Cuenta -------- --------------------------------------------------------------- */

nav .nav-wrapper i {
    line-height: 50px;
    height: 50px;
    margin-left: 15px;
}

#nav-mobile a {
    height: 50px;
}

#tabla-deuda {
    margin: 50px 0 0 10px;
    width: 90%;
    background-color: rgba(0, 228, 152, 0.19);
    border-radius: 10px;
}

@media only screen and (min-width: 993px) {
    .row .col.l9 {
        width: 80%;
        padding-right: 0px;
    }
}

.advertencia {
    text-align: center;
    background-color: #cde1f1;
    color: blue;
    height: auto;
    border-radius: 10px;
    padding: 0 10px 0 10px;
    margin: 0 25px 0 25px;
}

.advertencia h6 {
    padding: 5px 0;
}

#boton {
    padding: 15px 100px 15px 15px;
}

#deuda {
    background-color: #cde1f1;
    color: #428bca;
    width: 90%;
    height: auto;
    border-radius: 10px;
    padding: 0 10px 0 10px;
    margin: 0 20px 0 0;
    font-size: 13px;
}

@media only screen and (min-width: 992px) {
    #asd {
        position: fixed;
        right: 0px;
        left: 0px;
    }
}

#deuda .uno {
    margin: 5px;
}

#deuda .dos {
    margin: 5px;
    font-weight: 600;
    text-align: right;
}

.sesion {
    font-size: 18px;
}


/*
#modal1 {
    background: url(/static/media/image/modal.jpg)no-repeat;
    background-size: cover;
    border-radius: 10px;
}
*/

.sugerencia {
    height: 300px;
}

.modal {
    max-height: 100%;
}

.modal .modal-footer {
    text-align: center;
    background-color: transparent;
}

.modal .modal-footer input {
    width: 150px;
    color: #fff;
    font-size: large;
    background-color: transparent;
}

.modal .modal-footer .btn {
    text-align: center;
    /* margin: 5px 50px 15px; */
}

.h .fa-2x {
    font-size: 1.5em;
}

#modal1 {
    color: #fff;
}

#modal1 h5 {
    margin: 0px;
    line-height: 0%;
}

#modal1 .tema {
    font-size: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#modal1 .input-field {
    margin-bottom: 0px;
}

#modal1 input[type="text"] {
    color: black;
    max-height: 45px;
    min-height: 45px;
    height: 45px;
    width: 95%;
    border: gray 1px solid !important;
    background-color: #ffffff17;
    border-radius: 10px;
    padding: 0 10px;
}

#modal1 .tema {
    text-align: center;
    max-height: 240px;
    min-height: 240px;
    height: 240px;
}

.modal .modal-content {
    padding: 0px 0px 10px;
    height: 450px;
}

#modal1 .modal-content.row {
    margin-top: 0px;
}

.modal .modal-footer.row {
    margin-bottom: 0px;
}

.asdf {
    text-align: center;
}

.modal.modal-fixed-footer {
    height: 450px;
}

.h h4 {
    margin-bottom: 20px;
    text-transform: uppercase;
}

.h h6 {
    margin: 0px;
}


/* -------- Registro Residente - Clave -------- --------------------------------------------------------------- */

#residente input[type=text]:not(.browser-default),
#residente input[type=password]:not(.browser-default),
#residente input[type=email]:not(.browser-default) {
    border-bottom: 1px solid #fff;
}

.usuario-existe {
    font-size: 25px;
    text-align: center;
}

#residente {
    font-family: Cambria;
}

#residente .input-field {
    margin-bottom: 0px;
}

#residente button,
#residente a {
    margin: 10px 20px;
    width: 250px;
}

@media only screen and (min-width: 360px) {
    #residente .fondo {
        background-color: rgba(255, 255, 255, 0.32);
        width: 330px;
        border-radius: 0px;
        padding: 20px 10px;
    }
    #residente h3 {
        font-size: 20px;
        margin: 15px 0;
    }
    #residente .row .col.m2 {
        width: 50%;
    }
}

@media only screen and (min-width: 830px) {
    #residente .fondo {
        background-color: rgba(255, 255, 255, 0.32);
        width: 800px;
        border-radius: 10px;
        padding: 0 30px;
    }
    #residente button,
    #residente a {
        margin: 10px 50px;
        width: 200px;
    }
    #residente .row .col.m2 {
        width: 16.6666666667%;
    }
}

@media only screen and (min-width: 1364px) {
    #residente .fondo {
        background-color: rgba(255, 255, 255, 0.32);
        width: 800px;
        border-radius: 10px;
        padding: 0 30px;
    }
    #residente h3 {
        font-size: 2.92rem;
    }
    #residente .row .col.m2 {
        width: 16.6666666667%;
    }
}

#message {
    /* color: #000;
padding: 20px; */
    position: relative;
    margin-top: 10px;
}

#message i {
    font-size: 15px;
}

h3 {
    text-align: center;
}


/* Add a green text color and a checkmark when the requirements are right */

.valid {
    color: green;
}

.valid:before {
    position: relative;
    left: -5px;
    content: "✓";
}


/* Add a red text color and an Xmark when the requirements are wrong */

.invalid {
    color: red;
}

.invalid:after {
    position: relative;
    left: 5px;
    content: "✗";
}

.izquierda {
    text-align: left;
}

#no_apartamento {
    width: 200px;
}

#buscar_deuda {
    width: 100px;
    text-align: center;
    font-size: 20px;
    margin-left: 20px;
}


/* -------- Estado de Cuenta --------  --------------------------------------------------------------- */

#btnMenu {
    cursor: pointer;
}

#bPassword .row button {
    width: 200px;
    border-radius: 10px;
}

#bPassword .mensaje-clave {
    color: red;
    border-radius: 10px;
    margin: 0 0px 20px 50px;
    font-size: 20px;
    font-weight: bold;
}

.central {
    text-align: -webkit-center;
}

#bPassword .container .row {
    margin-left: 0px;
    margin-right: 0px;
}

@media only screen and (min-width: 360px) {
    #message i {
        font-size: 12px;
    }
}

.derecha {
    text-align: right;
}

.izquierda {
    text-align: left;
}


/*--------- Formulario Registro de Pagos --------- --------------------------------------------------------------- */

#bPagos select {
    height: 400px;
    overflow: hidden;
}

#bPagos .row {
    margin: 0px;
}

.collapsible div.collapsible-header:hover {
    background-color: var(--verde);
    color: #fff;
}

.collapsible div.collapsible-header:active {
    background-color: var(--verde);
    color: #fff;
}

table.bordered tbody tr:hover {
    background-color: #e1f5fe;
    color: black;
}

.btm-floating:hover {
    overflow: initial;
    position: relative;
}

.btn {
    text-transform: unset;
    letter-spacing: 1px;
    text-align: left;
}

.active-btn {
    background-color: #26a72a;
}

.sidenav li {
    line-height: 35px;
}

.datos {
    height: 100px;
    padding-top: 10px;
    background-image: -webkit-linear-gradient(1000deg, #66AAB3 50%, #26a69a 45%);
    color: #fff;
    font-weight: 800;
}

.email {
    line-height: 25px;
    margin-left: 30px;
    font-weight: 600;
}

.usuario {
    margin-left: 30px;
    font-size: 20px;
}

.sidenav li>a.btn {
    margin: 5px;
    padding: 0 20px;
    background-color: var(--verde);
}

#bPassword .container {
    margin: 5px;
    width: 100%;
    max-width: 100%;
}

#bPassword .container .row {
    margin: 0%;
}

#controles {
    text-align: center;
}

#controles .btn {
    width: 90%;
    margin: 5px;
    text-align: center;
}

input[type=search]:not(.browser-default) {
    border-bottom: 1px solid #f9dada;
    width: 250px;
}

input[type=search]:not(.browser-default):focus:not([readonly]) {
    border-bottom: 1px solid #fff;
    -webkit-box-shadow: 0 1px 0 0 #fff;
    box-shadow: 0 1px 0 0 #fff;
}

#search {
    line-height: 0;
    margin-right: 10px;
}

@media screen and (max-width: 768px) {
    input[type=search]:not(.browser-default) {
        width: 96%;
        margin: 0 0 0 5px;
        padding-top: 30px;
    }
}

#qwer {
    padding-right: 20px;
}

#tabla.nombre {
    font-size: 16px;
    font-weight: 500;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 35px;
    color: var(--verde);
    vertical-align: auto;
}

.boton {
    margin: 0px 20px;
    padding: 5px 15px;
    border-radius: 10px;
    height: 45px;
    background-color: #3ad6bf;
}

.padding {
    padding: 30px 0;
}

.boton1 {
    margin: 0 0 0 5px;
    padding: 5px 15px;
    border-radius: 10px;
    height: 45px;
    background-color: #3ad6bf;
    width: 96%;
    text-align: center;
}

#menu {
    display: initial;
    margin-top: 70px;
    height: 60px;
    width: 100%;
}

.asd {
    border: 0px;
}

#menu li {
    padding: 2px 2px;
    width: auto;
}

.espacio {
    padding-bottom: 0px;
    padding-top: 0px;
}

#tabla #qw {
    margin-top: 15px;
    background-color: #e7f5fd;
    width: 350px;
    height: 41px;
    color: var(--verde);
    border-radius: 5px 10px 0 0;
    padding: 0 0 0px 15px;
    margin-bottom: 0%;
    padding-bottom: 0%;
    font-size: 25px;
}

#tabla table {
    background-color: #e7f5fd;
    border-radius: 0 10px 10px;
}

.no-datos {
    text-align: center;
    color: blue;
    font-size: 20px;
}

table.striped>tbody>tr:nth-child(odd) {
    background-color: #fff;
}

#tabla td,
#tabla tr {
    padding: 0px 0px;
    height: 10px;
}

tbody tr.seleccionado {
    background-color: #02ff0254;
}

table.highlight>tbody>tr:hover.seleccionado {
    background-color: #02ff0254;
}

table.striped>tbody>tr:nth-child(odd).seleccionado {
    background-color: #02ff0254;
}

@media only screen and (min-width: 993px) {
    .container {
        width: 100%;
    }
}

.buscar {
    background-color: #e7f5fd;
    border-radius: 10px;
    margin: 15px;
    color: var(--verde);
}

.buscar h5 {
    margin: 0px;
    font-size: 1.54rem;
}

.buscar h4 {
    margin-top: 35px;
}


/* #bPagos .container {
margin: 0px 15px;
} */


/* tipo de fuente: poppins,sans-serif */

.opcion1 {
    display: none;
}

ul.opcion1 li a.btn {
    padding: 0px 30px;
}