{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
    <title>Registrar Residente</title>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />

    <link rel="stylesheet" href="{% static '/materialize/css/materialize.min.css' %}" media="screen,projection">
    <link rel="stylesheet" href="{% static '/font-awesome/css/font-awesome.min.css' %}">

    <link rel="stylesheet" href="{% static '/style.css' %}">
    <!--<link rel="icon" href="{% static '/imagenes/favicon.ico' %}" type="image / x-icon">-->
</head>

<body id="residente">
    <div>
        <h3 class="center">
            RESIDENCIAL BRISA FRESCA
        </h3>
    </div>

    <div class=" row" style="display:flex;justify-content:center;align-items:center;">
        <!-- <div class=" row"> -->
        <div class=" fondo z-depth-5">
            <form method="POST" action="{% url 'crear-cuenta' %}">{% csrf_token %}

                <div class="row">
                    <!--   Nombre Propietario o Inquilino   -->
                    <div class="input-field col m6 s12">
                        <i class="prefix fa fa-user fa-3x"></i>
                        <input id="nombre" name="nombre" type="text" required autocomplete="off">
                        <label for="nombre" class="active">Nombre </label>
                    </div>

                    <!--   Apellido Propietario o Inquilino   -->
                    <div class="input-field col m6 s12">
                        <i class="prefix fa fa-user fa-3x"></i>
                        <input id="apellido" name="apellido" type="text" required autocomplete="off">
                        <label for="apellido" class="active">Apellido</label>
                    </div>
                </div>

                <div class="row">

                    <!--   Edificio Propietario o Inquilino   -->
                    <div class="input-field col m6 s12">
                        <i class="prefix fa fa-building-o fa-3x"></i>
                        <input id="edificio" name="edificio" type="text" required autocomplete="off">
                        <label for="edificio" class="active">Bloque</label>
                    </div>
                    <!--   Apartamento Propietario o Inquilino   -->
                    <div class="input-field col m6 s12">
                        <i class="prefix fa fa-building-o fa-3x"></i>
                        <input id="apartamento" name="apartamento" type="text" required autocomplete="off">
                        <label for="apartamento" class="active">Apartamento </label>
                    </div>
                </div>
                <!--  Cedula Propietario o Inquilino  -->
                <div class="input-field col m6 s12">
                    <i class="prefix fa fa-id-card fa-3x"></i>
                    <input id="cedula" name="cedula" type="text" maxlength="13" required autocomplete="off">
                    <label for="cedula" class="active">Cedula</label>
                </div>

                <!--  Correo Propietario o Inquilino  -->
                <div class="input-field col m6 s12">
                    <i class="prefix fa fa-at fa-3x"></i>
                    <input id="correo" name="correo" type="email" required autocomplete="off">
                    <label for="correo" class="active">Correo</label>
                </div>

                <!--  Telefono Propietario o Inquilino  -->
                <div class="input-field col m6 s12">
                    <i class="prefix fa fa-phone fa-3x"></i>
                    <input id="telefono" name="telefono" type="text" maxlength="12" required autocomplete="off">
                    <label for="telefono" class="active">Telefono</label>
                </div>

                <!--  Clave Propietario o Inquilino  -->
                <div class="input-field col m6 s12">
                    <i class="prefix fa fa-key fa-3x"></i>
                    <input id="clave" name="clave" type="password" required autocomplete="off">
                    <label for="clave" class="active">Clave</label>
                </div>

                <div class=" center group navform wat-cf">
                    <!--   Boton Registrar   -->
                    <button id="bClave" class="disabled btn hoverable waves-effect" type="submit">Registrar</button>
                    <!--   Boton Cancelar   -->
                    <a href="/" class="btn hoverable waves-effect red ">Cancelar</a>
                </div>

            </form>

            <div id="message" class="row">
                <ul>
                    <i id="lengthCounter" class="col m2 s6"><b>Numero de Caracteres:</b></i>
                    <i id="PSWlength" class="col m2 s6 invalid"><b>Minimo 8 Caracteres</b></i>
                    <i id="upper" class="col m2 s6 invalid"><b>Mayuscula</b></i>
                    <i id="lower" class="col m2 s6 invalid"><b>Minuscula</b></i>
                    <i id="number" class="col m2 s6 invalid"><b>Numeros</b></i>
                    <i id="symbol" class="col m2 s6 invalid"><b>Símbolos</b></i>
                </ul>
            </div>
        </div>
    </div>


    <script src="{% static '/jquery/jquery-3.2.1.min.js' %}"></script>
    <script src="{% static '/materialize/js/materialize.min.js' %}"></script>
    <script src="{% static '/style.js' %}"></script>
    <script src="{% static '/validarClave.js' %}"></script>
    <script src="{% static '/prueba.js' %}"></script>

</body>

</html>