@font-face {
    font-family: "poppins";
    src: local(poppins Thin), url("../poppins/Poppins-Thin.ttf");
    font-weight: 100;
}

@font-face {
    font-family: "poppins";
    src: local(poppins ExtraLight), url("../poppins/Poppins-ExtraLight.ttf");
    font-weight: 200;
}

@font-face {
    font-family: "poppins";
    src: local(poppins Light), url("../poppins/Poppins-Light.ttf");
    font-weight: 300;
}

@font-face {
    font-family: "poppins";
    src: local(poppins Normal), url("../poppins/Poppins-Regular.ttf");
    font-weight: 400;
}

@font-face {
    font-family: "poppins";
    src: local(poppins Medium), url("../poppins/Poppins-Medium.ttf");
    font-weight: 500;
}

@font-face {
    font-family: "poppins";
    src: local(poppins SemiBold), url("../poppins/Poppins-SemiBold.ttf");
    font-weight: 600;
}

@font-face {
    font-family: "poppins";
    src: local(poppins Bold), url("../poppins/Poppins-Bold.ttf");
    font-weight: 700;
}

@font-face {
    font-family: "poppins";
    src: local(poppins ExtraBold), url("../poppins/Poppins-ExtraBold.ttf");
    font-weight: 800;
}

@font-face {
    font-family: "poppins";
    src: local(poppins Black), url("../poppins/Poppins-Black.ttf");
    font-weight: 900;
}