/* ----- login -----
--------------------------------------------------------------- */

body {
    font-family: poppins, sans-serif;
}

@media only screen and (min-width: 360px) {
    #login .fondo {
        background-color: rgba(255, 255, 255, 0.32);
        width: 300px;
        border-radius: 15px;
        padding: 20px 10px;
        margin-bottom: 80px;
    }
    #login .row button,
    #login .row a {
        padding: 0 5% 0 5%;
        margin-top: 15px;
        width: 250px;
        border-radius: 5px;
        text-align: center;
    }
    #login h3 {
        font-size: 20px;
        margin: 15px 0;
    }
}

@media only screen and (min-width: 600px) {
    #login .fondo {
        background-color: rgba(255, 255, 255, 0.32);
        width: 480px;
        border-radius: 15px;
        padding: 30px;
    }
    #login .row button,
    #login .row a {
        padding: 0 5% 0 5%;
        width: 170px;
        border-radius: 5px;
        text-align: center;
    }
    #login h3 {
        font-size: 2.92rem;
    }
}

#login .container {
    margin: 50px 0%;
    width: 100%;
    max-width: 100%;
}

@media only screen and (min-width: 1364px) {
    #login .container {
        margin: 150px 0%;
        width: 100%;
        max-width: 100%;
    }
    #login h4 {
        margin-top: 0px;
        margin-bottom: 50px;
    }
}

@media only screen and (min-width: 1200px) {
    #login .container {
        margin: 50px 0%;
    }
    #login h4 {
        margin-top: 0px;
        margin-bottom: 0px;
    }
    #login .fondo {
        background-color: rgba(255, 255, 255, 0.32);
        width: 550px;
        border-radius: 15px;
        padding: 30px;
    }
    #login .row button,
    #login .row a {
        padding: 0 5% 0 5%;
        width: 170px;
        border-radius: 5px;
        text-align: center;
    }
}

#mensaje {
    background-color: red;
    color: #fff;
    border-radius: 10px;
    text-align: center;
    margin: 5% 25% 0 25%;
    padding: 10px;
    font-size: 20px;
}

#login {
    margin-top: 35px;
    color: #fff;
}

#login {
    background: -webkit-linear-gradient(1000deg, #66AAB3 50%, #26a69a 30%);
    /*background: url(/static/image/login.jpg)no-repeat;*/
    background-size: cover;
    background-attachment: fixed;
    overflow: auto;
    color: #fff;
    margin: 0%;
    height: 100%;
}

#residente {
    background: url(/static/image/login.jpg)no-repeat;
    background-size: cover;
    background-attachment: fixed;
    overflow: auto;
    color: #fff;
}

#login .row {
    margin: 0px;
}

#login label,
#residente label {
    color: #fff;
}

.row {
    margin-top: 20px;
}

.row button {
    background-color: #00c853;
}

.row button,
.row a {
    padding: 0 5% 0 5%;
    width: 150px;
    border-radius: 5px;
    text-align: center;
}

.row a {
    background-color: #40c4ff;
}