#modal1 {
    background-color: #fff;
    color: black;
    border-radius: 10px;
}

.h {
    background: -webkit-linear-gradient(993deg, #66AAB3 50%, #26a69a 30%);
    /* background-color: #00afb5; */
    text-align: center;
    color: #fff;
    margin-top: 0px;
    padding: 20px 0 5px;
}

.white-text {
    color: black !important;
}

#modal1 input[type="text"] {
    color: black;
    max-height: 45px;
    min-height: 45px;
    height: 45px;
    width: 95%;
    border: gray 1px solid !important;
    background-color: #ffffff17;
    border-radius: 10px;
    padding: 0 10px;
}

#modal1 textarea {
    color: black;
    max-height: 160px;
    min-height: 210px;
    height: 160px;
    border: gray 1px solid !important;
    background-color: #ffffff17;
    border-radius: 10px;
    padding: 10px;
    overflow-y: auto;
}

@media only screen and (min-width: 993px) {
    #toast-container {
        top: 85%;
        right: 50%;
    }
}

.toast {
    font-weight: 400;
}