{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
    <title>Registrar Pagos</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />

    <link rel="stylesheet" href="{% static '/materialize/css/materialize.min.css' %}" media="screen,projection">
    <link rel="stylesheet" href="{% static '/font-awesome/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static '/style.css' %}">
</head>

<body id="bPagos">


    <div class=" navbar-fixed">
        <nav class="">
            <div class="nav-wrapper ">
                <a href="/" class="brand-logo center"><span class="hide-on-small-only"> Registrar </span>Pagos</a>


                <!-- --- --- Boton Menu Lado Izquierdo --- --- -->
                <span class="left brand-logo text-darken-2">
					<i onclick="Materialize.showStaggeredList('#slide-out')" id="btnMenu" data-activates="slide-out" class="deslizar icono-menu fa fa-bars fa-1x "></i>
					</i>
				</span>
                <!-- --- --- Fin Boton Menu Lado Izquierdo --- --- -->



                <!-- --- --- Todo los que se muestra en el Menu del lado Derecho --- --- -->

                <ul class="right hide-on-med-and-down">
                    <li>
                        <form action="" method="POST"> {% csrf_token %}
                            <input class="search1" type="search" name="persona" value="" placeholder="Buscar persona">
                            <button class="boton btn" type="submit">
								<i id="search" class="fa fa-search"></i>Buscar</button>
                        </form>
                    </li>
                </ul>


                <!-- --- --- Fin todo los que se muestra en el Menu del lado Derecho --- --- -->
            </div>
        </nav>
    </div>


    <ul id="slide-out" class="side-nav ">
        <li class="">
            <div class="datos">
                <span class="usuario"> {{ usuariofull }}</span><br>
                <span class="email "> {{ email }}</span>
            </div>
        </li>
        <li>
            <div class="divider"></div>
        </li>
        <li class=" ">
            <a href="/" class="btn"> <i class=" fa fa-home fa-1x"></i> Inicio</a>
        </li>
        <li>
            <a href="{% url 'pagos' %}" class="active-btn btn"> <i class=" fa fa-dollar fa-1x"></i> Registrar Pagos </a>
        </li>
        <li class=" ">
            <a href="{% url 'clave' %}" class="btn"> <i class=" fa fa-key fa-1x"></i> Cambiar Contraseña</a>
        </li>
        <li class=" ">
            <a href="{% url 'logout' %}" class="btn"> <i class=" fa fa-power-off fa-1x"></i> Cerrar Sección</a>
        </li>
        <li class=" ">
            <a href="" class="disabled btn"> <i class=" fa fa-desktop fa-1x"></i> Equipos Asignados</a>
        </li>
        <li class=" ">
            <a href="" class="disabled btn"> <i class=" fa fa-cog fa-1x"></i> Opciones</a>
        </li>
        <li>
            <a href="" class="disabled btn"> <i class=" fa fa-user fa-1x"></i> Agregar Personas </a>
        </li>
    </ul>


    <!-- Modal Structure -->
    <form action="sugerencias/" method="post">{% csrf_token %}
        <div id="modal1" class="modal  row">
            <div class="modal-content">
                <div class="h">
                    <h4 class="center">Sugerencias</h4>
                    <div class="">
                        <h6>
                            <i class=" prefix fa fa-user-circle-o fa-2x"></i> {{ usuariofull }}
                        </h6>
                    </div>
                </div>
                <input type="hidden" name="correo" value="{{ email }}">

                <div class="input-field col s12">
                    <input type="text" name="titulo" id="titulo">
                    <label for="titulo">Titulo de la Sugerencia</label>
                </div>

                <div class="input-field col s12">
                    <textarea id="textarea1" class="materialize-textarea" name="sugerencia"></textarea>
                    <label for="textarea1">Sugerencia</label>
                </div>
            </div>
            <div class="modal-footer center">
                <input type="button" class="modal-close waves-effect waves-green btn red" value="Cancelar">
                <input type="submit" class="modal-close waves-effect waves-green btn" value="Enviar">
            </div>
        </div>
    </form>

    <script src="{% static '/jquery/jquery-3.2.1.min.js' %}"></script>
    <script src="{% static '/materialize/js/materialize.min.js' %}"></script>
    <script src="{% static '/style.js' %}"></script>
    <script src="{% static '/prueba.js' %}"></script>


</body>

</html>