{% load staticfiles %}
<!DOCTYPE html>
<html lang="es">

<head>
    <!-- Block para el titulo -->
    <title>{% block titulo %} {% endblock titulo %}</title>
    <!-- Fin Block para el titulo -->

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no"/>

    <link rel="shortcut icon" type="image/x-icon" href="{% static '/media/favicon.png' %}">
    <!-- Block para cargar los static CSS -->
    <link rel="stylesheet" href="{% static '/materialize-v1.0.0-rc.2/css/materialize.min.css' %}" media="screen,projection">
    <link rel="stylesheet" href="{% static '/css/fuentes.css' %}">
    <link rel="stylesheet" href="{% static '/font-awesome-5.2.0/css/all.min.css' %}">
    <link rel="stylesheet" href="{% static '/css/sugerencia.css' %}">
    <link rel="stylesheet" href="{% static '/css/style.css' %}"> {% block staticCSS %} {% endblock staticCSS %}
    <!-- Fin Block para cargar los static CSS -->

</head>

<body>

    <div class=" navbar-fixed">
        <nav>
            <div class="nav-wrapper">

                <!-- Block para mostrar el titulo en el Navar -->
                {% block header %} {% endblock header %}
                <!-- Fin Block para mostrar el titulo en el Navar -->

                <!-- --- --- Boton Menu Lado Izquierdo --- --- -->
                <span class="left brand-logo text-darken-2">
					<i data-target="slide-out" id="btnMenu" class="sidenav-trigger show-on-large deslizar icono-menu fa fa-bars fa-1x"></i>
				</span>
                <!-- --- --- Fin Boton Menu Lado Izquierdo --- --- -->
            </div>
        </nav>
    </div>

    <ul id="slide-out" class="sidenav">
        <li>
            <div class="datos">
                <span class="usuario"> {{ user.get_full_name }}</span>
                <br>
                <span class="email"> {{ user.email }}</span>
            </div>
        </li>
        <li>
            <div class="divider"></div>
        </li>
        <li class="">
            <a href="/" class="{% block activarEst %}{% endblock activarEst %} btn">
                <i class=" fa fa-clipboard-list fa-2x"></i>Estado de Cuenta
            </a>
        </li>
        {% if perms.Residencial.can_add_pago %}
        <li>
            <a href="{% url 'pagos' %}" class="btn{% block activarPag %}{% endblock activarPag %}">
                <i class=" fas fa-dollar-sign fa-1x"></i>Registrar Pagos
            </a>
        </li>
        {% endif %}

        <li>
            <div class="divider"></div>
        </li>
        <li>
            <a href="#modal1" class="btn modal-trigger">
                <i class=" fa fa-comments fa-1x"></i>Sugerencias
            </a>
        </li>
        <li>
            <a href="" class="disabled btn">
                <i class=" fas fa-globe fa-1x"></i>Hacer Publicación
            </a>
        </li>
        <li>
            <div class="divider"></div>
        </li>
        <li>
            <a class="btn opcion">
                <i class=" fa fa-cog fa-1x"></i>Opciones
            </a>
            <!-- <a href="" class="btn opcion">
			</a> -->
            <ul class="opcion1">
                <li>
                    <a href="{% url 'clave' %}" class="btn {% block activarPass %}{% endblock activarPass %}">
                        <i class=" fa fa-key fa-1x"></i>Cambiar Contraseña
                    </a>
                </li>

                <li>
                    <a href="{% url 'usuarios' %}" class="btn">
						<i class=" fas fa-users-cog fa-1x"></i>Configuración de Usuarios
					</a>
				</li>
			</ul>
		</li>
		<li>
			<div class="divider"></div>
		</li>
		<li class="">
			<a onclick="Materialize.toast('Su sesión se cerro exitosamente')" href="{% url 'logout' %}" class="btn">
				<i class="fa fa-power-off fa-1x"></i>Cerrar Sección</a>
		</li>
	</ul>

	<div class="advertencia">
		{% for a in ajuste %}
		<h6>Los pagos de las mensualidades vencen los días
			<b>{{a.fecha_Para_Facturar|date:"d"}}</b> de cada mes, luego de esta fecha el Residencial le concede
			<b>05 días</b> adicionales para realizar los mismos sin cargos. A partir de los
			<b>días {{a.fecha_Limite_Pago|date:"d"}}</b> se generarán cargos de
			<b>RD${{ a.pago_Recargo }}</b> pesos por pagos atrasado.</h6>
		{% endfor %}
	</div>


	<!-- Modal Structure -->
	<div id="modal1" class="modal modal-fixed-footer white-text">
		{% csrf_token %}
		<div class="modal-content row">
			<div class="h">
				<h4 class="">Sugerencias</h4>
			</div>
			<div class=" col m12 sugerencia">
				<div class="input-field col s12">
					<input type="hidden" name="user_id" id="user_id" value="{{ user.id }}">
					<input type="text" name="titulo" id="titulo" placeholder="Titulo de la Sugerencia" autocomplete="off" required>
				</div>

				<div class="input-field col s12">
					<textarea id="textarea1" class="materialize-textarea" name="sugerencia" placeholder="Sugerencia" required>{% lorem how_many_paragraphs %}{% lorem how_many_paragraphs %}
						</textarea>
				</div>
			</div>
		</div>

		<div class="modal-footer row asdf">
			<div class="center col m6 s6">
				<input id="cerrar" type="button" class="modal-close waves-effect waves-green btn red" value="Cancelar">
			</div>
			<div class="center col m6 s6">
				<input id="idEnviar" type="submit" class="waves-effect waves-green btn" value="Enviar">
			</div>
		</div>
	</div>


	<!-- Block para mostrar el contenido de la pagina -->
	{% block contenido %} {% endblock contenido %}
	<!-- Fin Block para mostrar el contenido de la pagina -->

	<!-- Block para cargar los static JS -->
	<script src="{% static '/jquery/jquery-3.2.1.min.js' %}"></script>
	<script src="{% static '/materialize-v1.0.0-rc.2/js/materialize.min.js' %}"></script>
	<script src="{% static '/js/sugerencias.js' %}"></script>
	<script src="{% static '/js/style.js' %}"></script>
	{% block staticJS %} {% endblock staticJS %}
	<!-- Fin  Block para cargar los static JS -->

</body>

</html>