{% extends "plantilla.html" %} {% load static %}

<!-- Block para cargar los static CSS -->
{% block staticCSS %} {% endblock staticCSS %}
<!-- Fin Block para cargar los static CSS -->

<!-- Block para el titulo -->
{% block titulo %} Cambiar Clave {% endblock titulo %}
<!-- Fin Block para el titulo -->

<!-- Block para marcar boton como activo-->
{% block activarPass %} active-btn {% endblock activarPass %}
<!-- Fin Block para marcar boton como activo-->

<!-- Block para mostrar el titulo en el Navar -->
{% block header %}
<a href="/" class="brand-logo center"><span class="hide-on-small-only">Cambiar </span>Clave</a> {% endblock header %}
<!-- Fin Block para mostrar el titulo en el Navar -->

<!-- Block para mostrar el contenido de la pagina -->
{% block contenido %}
<div class="container ">
    <div class=" row">
        <div class="central col m6 offset-m3 s12 x12">
            <form action="" method="POST">{% csrf_token %}

                <!--  Clave Nueva  -->
                <div class="input-field center" style="width:80%;">
                    <i class="prefix fa fa-key fa-3x"></i>
                    <input id="clave" name="pass-new" type="password" required>
                    <label for="pass-new" class="active">Clave Nueva</label>
                </div>

                <!--  Confirmar  Nueva Clave  -->
                <div class="input-field center" style="width:80%;">
                    <i class="prefix fa fa-key fa-3x"></i>
                    <input id="pass-new1" name="rep-pass" type="password" required>
                    <label for="pass-new1" class="active">Confirmar Nueva Clave</label>
                </div>

                <div id="mensaje-clave" class="hide mensaje-clave" style="width:50%;">
                    Las claves no coinciden
                </div>

                <!--   Boton   -->
                <div class=" center group navform wat-cf" style="width:50%;">
                    <button id="bClave" class="disabled btn boton-guardar-contrasena hoverable waves-effect" type="submit">Guardar Cambios</button>
                </div>
                {% if mensaje %}
                <div id="mensaje" class="red ">
                    {{ mensaje }}
                </div>
                {% endif %}
            </form>
        </div>
    </div>
</div>
<div id="message" class="center row">
    <ul class="">
        <i id="lengthCounter" class="col m6 s6 derecha"><b>Numero de Caracteres:</b></i>
        <i id="PSWlength" class="invalid col m6 s6 izquierda"><b>Minimo 8 Caracteres</b></i>
        <i id="upper" class="invalid col m6 s6 derecha"><b>Letra Mayuscula</b></i>
        <i id="lower" class="invalid col m6 s6 izquierda"><b>Letra Minuscula</b></i>
        <i id="number" class="invalid col m6 s6 derecha"><b>Numeros</b></i>
        <i id="symbol" class="invalid col m6 s6 izquierda"><b>Símbolos</b></i>
    </ul>
</div>
{% endblock contenido %}
<!-- Fin Block para mostrar el contenido de la pagina -->

<!-- Block para cargar los static JS -->
{% block staticJS %}
<script src="{% static '/js/validarClave.js' %}"></script>
{% endblock staticJS %}
<!-- Fin Block para cargar los static JS -->