{% load static %}

<!DOCTYPE html>
<html lang="es">

<head>
    <title>Cambiar Clave</title>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />

    <link rel="stylesheet" href="{% static '/materialize/css/materialize.min.css' %}" media="screen,projection">
    <link rel="stylesheet" href="{% static '/font-awesome/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static '/style.css' %}">


</head>

<body id="bPassword">

    <div class="col m12 s12 x12 navbar-fixed">
        <nav>
            <div class="nav-wrapper">
                <a href="/" class="brand-logo center"><span class="hide-on-small-only">Cambiar </span>Cuenta</a>
                <ul>
                    <li class="left">
                        <i class="fa fa-user-circle hide-on-large-only"> {{nombre}}</i>
                        <i class="fa fa-user-circle hide-on-med-and-down"> {{ usuariofull }}</i>
                    </li>
                </ul>
                <ul id="nav-mobile" class="right">
                    <li class="">
                        <a href="/cambiar-clave" class=""> <span class="hide-on-med-and-down"> </span> <i class="fa fa-key ">Cambiar Clave</i></a>
                    </li>                    
                    <li class="">
                        <a href="/logout" class=""> <span class="hide-on-med-and-down"> </span> <i class="fa fa-sign-out ">Cerrar Sesion</i></a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>

    <div class="container ">
        <div class=" row">
            <div class="central col m6 offset-m3 s12 x12">
                <form action="" method="POST">{% csrf_token %}

                    {% comment %} <!--   Clave Anterior   -->
                    <div class="input-field">
                        <i class="prefix fa fa-key fa-3x"></i>
                        <input id="pass-last" name="pass-last" type="text" required>
                        <label for="pass-last" class="active">Clave Anterior</label>
                    </div> {% endcomment %}

                    <!--  Clave Nueva  -->
                    <div class="input-field center" style="width:80%;">
                        <i class="prefix fa fa-key fa-3x"></i>
                        <input id="clave" name="pass-new" type="password" required>
                        <label for="pass-new" class="active">Clave Nueva</label>
                    </div>

                    <!--  Confirmar  Nueva Clave  -->
                    <div class="input-field center" style="width:80%;">
                        <i class="prefix fa fa-key fa-3x"></i>
                        <input id="pass-new1" name="rep-pass" type="password" required>
                        <label for="pass-new1" class="active">Confirmar Nueva Clave</label>
                    </div>

                    <div id="mensaje-clave" class="hide mensaje-clave" style="width:50%;">
                        Las claves no coinciden
                    </div>

                    <!--   Boton   -->
                    <div class=" center group navform wat-cf" style="width:50%;">
                        <button id="bClave" class="disabled btn boton-guardar-contrasena hoverable waves-effect" type="submit">Guardar Cambios</button>
                    </div>
                    {% if mensaje %}
                    <div id="mensaje" class="red ">
                        {{ mensaje }}
                    </div>
                    {% endif %}
                </form>                
            </div>
        </div>
    </div>
    <div id="message" class="center row">
                        <ul class="">
                            <i id="lengthCounter" class="col m6 s6 derecha"><b>Numero de Caracteres:</b></i>
                            <i id="PSWlength" class="invalid col m6 s6 izquierda"><b>Minimo 8 Caracteres</b></i>
                            <i id="upper" class="invalid col m6 s6 derecha"><b>Letra Mayuscula</b></i>
                            <i id="lower" class="invalid col m6 s6 izquierda"><b>Letra Minuscula</b></i>
                            <i id="number" class="invalid col m6 s6 derecha"><b>Numeros</b></i>
                            <i id="symbol" class="invalid col m6 s6 izquierda"><b>Símbolos</b></i>
                        </ul>
                    </div>

    <script src="{% static '/jquery/jquery-3.2.1.min.js' %}"></script>
    <script src="{% static '/materialize/js/materialize.min.js' %}"></script>
    <script src="{% static '/style.js' %}"></script>
    <script src="{% static '/validarClave.js' %}"></script>
    
</body>

</html>