{% load static %}

<!DOCTYPE html>
<html lang="es">

<head>
    <title>Cambiar Clave</title>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />

    <link rel="stylesheet" href="{% static '/materialize/css/materialize.min.css' %}" media="screen,projection">
    <link rel="stylesheet" href="{% static '/font-awesome/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static '/style.css' %}">


</head>

<body id="bPassword">

<div class=" navbar-fixed">
		<nav class="">
			<div class="nav-wrapper ">
			<a href="/" class="brand-logo center"><span class="hide-on-small-only">Cambiar </span>Clave</a>
				
				<!-- --- --- Boton Menu Lado Izquierdo --- --- -->
				<span class="left brand-logo text-darken-2">
					<i onclick="Materialize.showStaggeredList('#slide-out')" id="btnMenu" data-activates="slide-out" class="deslizar icono-menu fa fa-bars fa-1x "></i>
					</i>
				</span>
				<!-- --- --- Fin Boton Menu Lado Izquierdo --- --- -->

			</div>
		</nav>
	</div>


	<ul id="slide-out" class="side-nav ">
	   <li class="">
	   <div class="datos">
			<span class="usuario"> {{ usuariofull }}</span>
			<span class="email "> {{ email }}</span>
	   </div>
		</li>
		<li>
			<div class="divider"></div>
		</li>
		<li class=" ">
			<a href="/" class="btn"> <i class=" fa fa-home fa-1x"></i> Inicio</a>
		</li>
        <li>
			<a href="{% url 'pagos' %}" class="btn"> <i class=" fa fa-dollar fa-1x"></i> Registrar Pagos </a>
		</li>
		<li class=" ">
			<a href="{% url 'clave' %}" class="active-btn btn"> <i class=" fa fa-key fa-1x"></i> Cambiar Contraseña</a>
		</li>
		<li class=" ">
			<a href="{% url 'logout' %}" class="btn"> <i class=" fa fa-power-off fa-1x"></i> Cerrar Sección</a>
		</li>
		<li class=" ">
			<a href=""  class="disabled btn"> <i class=" fa fa-user fa-1x"></i> Agregar Personas </a>
		</li>
		<li class=" ">
			<a href=""  class="disabled btn"> <i class=" fa fa-desktop fa-1x"></i> Equipos Asignados</a>
		</li>
		<li class=" ">
			<a href=""  class="disabled btn"> <i class=" fa fa-cog fa-1x"></i> Opciones</a>
		</li>
	</ul>

    <div class="container ">
        <div class=" row">
            <div class="central col m6 offset-m3 s12 x12">
                <form action="" method="POST">{% csrf_token %}

                    {% comment %} <!--   Clave Anterior   -->
                    <div class="input-field">
                        <i class="prefix fa fa-key fa-3x"></i>
                        <input id="pass-last" name="pass-last" type="text" required>
                        <label for="pass-last" class="active">Clave Anterior</label>
                    </div> {% endcomment %}

                    <!--  Clave Nueva  -->
                    <div class="input-field center" style="width:80%;">
                        <i class="prefix fa fa-key fa-3x"></i>
                        <input id="clave" name="pass-new" type="password" required>
                        <label for="pass-new" class="active">Clave Nueva</label>
                    </div>

                    <!--  Confirmar  Nueva Clave  -->
                    <div class="input-field center" style="width:80%;">
                        <i class="prefix fa fa-key fa-3x"></i>
                        <input id="pass-new1" name="rep-pass" type="password" required>
                        <label for="pass-new1" class="active">Confirmar Nueva Clave</label>
                    </div>

                    <div id="mensaje-clave" class="hide mensaje-clave" style="width:50%;">
                        Las claves no coinciden
                    </div>

                    <!--   Boton   -->
                    <div class=" center group navform wat-cf" style="width:50%;">
                        <button id="bClave" class="disabled btn boton-guardar-contrasena hoverable waves-effect" type="submit">Guardar Cambios</button>
                    </div>
                    {% if mensaje %}
                    <div id="mensaje" class="red ">
                        {{ mensaje }}
                    </div>
                    {% endif %}
                </form>                
            </div>
        </div>
    </div>
    <div id="message" class="center row">
                        <ul class="">
                            <i id="lengthCounter" class="col m6 s6 derecha"><b>Numero de Caracteres:</b></i>
                            <i id="PSWlength" class="invalid col m6 s6 izquierda"><b>Minimo 8 Caracteres</b></i>
                            <i id="upper" class="invalid col m6 s6 derecha"><b>Letra Mayuscula</b></i>
                            <i id="lower" class="invalid col m6 s6 izquierda"><b>Letra Minuscula</b></i>
                            <i id="number" class="invalid col m6 s6 derecha"><b>Numeros</b></i>
                            <i id="symbol" class="invalid col m6 s6 izquierda"><b>Símbolos</b></i>
                        </ul>
                    </div>

    <script src="{% static '/jquery/jquery-3.2.1.min.js' %}"></script>
    <script src="{% static '/materialize/js/materialize.min.js' %}"></script>
    <script src="{% static '/style.js' %}"></script>
    <script src="{% static '/validarClave.js' %}"></script>
    
</body>

</html>