{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
    <title>{% block titulo %} {% endblock titulo %}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />

    <link rel="stylesheet" href="{% static '/materialize-v1.0.0-rc.2/css/materialize.min.css' %}" media="screen,projection">
    <link rel="stylesheet" href="{% static '/font-awesome-5.2.0/css/all.min.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <link rel="stylesheet" href="{% static '/style.css' %}">
</head>

<body class="">

    <div class=" navbar-fixed">
        <nav class="">
            <div class="nav-wrapper ">
                {% block header %} {% endblock header %}
                <!-- --- --- Boton Menu Lado Izquierdo --- --- -->
                <span class="left brand-logo text-darken-2">
                    <i data-target="slide-out" id="btnMenu" class="sidenav-trigger deslizar icono-menu fa fa-bars fa-1x "></i>
                </span>
                <!-- --- --- Fin Boton Menu Lado Izquierdo --- --- -->
            </div>
        </nav>
    </div>

    <ul id="slide-out" class="sidenav ">
        <li class="">
            <div class="datos">
                <span class="usuario"> {{ usuariofull }}</span>
                <br>
                <span class="email "> {{ email }}</span>
            </div>
        </li>
        <li>
            <div class="divider"></div>
        </li>
        <li class=" ">
            <a href="/" class="active-btn btn">
                <i class=" fa fa-clipboard-list fa-2x"></i>Estado de Cuenta</a>
        </li>
        <li>
            <a href="{% url 'pagos' %}" class="btn">
                <i class=" fas fa-dollar-sign fa-1x"></i>Registrar Pagos </a>
        </li>
        <li>
            <div class="divider"></div>
        </li>
        <li class=" ">
            <a onclick="Materialize.toast('Su sesión se cerro exitosamente')" href="#modal1" class="btn modal-trigger">
                <i class=" fa fa-comments fa-1x"></i>Sugerencias</a>
        </li>
        <li>
            <div class="divider"></div>
        </li>
        <li>
            <a href="" class="disabled btn">
                <i class=" fas fa-globe fa-1x"></i>Hacer Publicación </a>
        </li>
        <li class=" ">
            <a href="" class="disabled btn">
                <i class=" fas fa-users-cog fa-1x"></i>Configuración de Usuarios</a>
        </li>
        <li class=" ">
            <a href="" class="disabled btn">
                <i class=" fa fa-cog fa-1x"></i>Opciones</a>
        </li>
        <li>
            <div class="divider"></div>
        </li>
        <li class=" ">
            <a href="{% url 'clave' %}" class="btn">
                <i class=" fa fa-key fa-1x"></i>Cambiar Contraseña</a>
        </li>
        <li class=" ">
            <!-- <a onclick="M.toast({html: 'I am a toast'})" class="btn">Toast!</a> -->
            <a onclick="Materialize.toast('Su sesión se cerro exitosamente')" href="{% url 'logout' %}" class="btn">
                <i class=" fa fa-power-off fa-1x"></i>Cerrar Sección</a>
        </li>
    </ul>

    <div class="advertencia">
        {% for a in ajuste %}
        <h6>Los pagos de las mensualidades vencen los días
            <b>{{a.fecha_Para_Facturar|date:"d" }}</b> de cada mes, luego de esta fecha el Residencial le concede
            <b>05 días</b> adicionales para realizar los mismos sin cargos. A partir de los
            <b>días {{a.fecha_Limite_Pago|date:"d" }}</b> se generarán cargos de
            <b>RD${{ a.pago_Recargo }}</b> pesos por pagos atrasado.</h6>
        {% endfor %}
    </div>


    <!-- Modal Structure -->
    <form action="sugerencias/" method="post">{% csrf_token %}
        <div id="modal1" class="modal  row">
            <div class="modal-content">
                <div class="h">
                    <h4 class="center">Sugerencias</h4>
                    <div class="">
                        <h6>
                            <i class=" prefix fas fa-user-circle fa-2x"></i> {{ usuariofull }}
                        </h6>
                    </div>
                </div>
                <input type="hidden" name="correo" value="{{ email }}">

                <div class="input-field col s12">
                    <input type="text" name="titulo" id="titulo" required>
                    <label for="titulo">Titulo de la Sugerencia</label>
                </div>

                <div class="input-field col s12">
                    <textarea id="textarea1" class="materialize-textarea" name="sugerencia" required></textarea>
                    <label for="textarea1">Sugerencia</label>
                </div>
            </div>
            <div class="modal-footer center">
                <input type="button" class="modal-close waves-effect waves-green btn red" value="Cancelar">
                <input type="submit" class="waves-effect waves-green btn" value="Enviar">
            </div>
        </div>
    </form>

    {% block contenido %} {% endblock contenido %}








    <script src="{% static '/jquery/jquery-3.2.1.min.js' %}"></script>
    <script src="{% static '/materialize-v1.0.0-rc.2/js/materialize.min.js' %}"></script>
    <script src="{% static '/style.js' %}"></script>
    <script src="{% static '/validarClave.js' %}"></script>
    <script src="{% static '/cargarDeudas.js' %}"></script>
    <script src="{% static '/prueba.js' %}"></script>

</body>

</html>