{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
    <title>Registrar Pagos</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />

    <link rel="stylesheet" href="{% static '/materialize/css/materialize.min.css' %}" media="screen,projection">
    <link rel="stylesheet" href="{% static '/font-awesome/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static '/style.css' %}">
</head>

<body class="">

    <div class="col m12 s12 x12 navbar-fixed">
        <nav>
            <div class="nav-wrapper">
                <a href="/" class="brand-logo center"><span class="hide-on-small-only"> Registrar </span>Pagos</a>
                <ul>
                    <li class="left">
                        <i class="fa fa-user-circle hide-on-large-only"> {{nombre}}</i>
                        <i class="fa fa-user-circle hide-on-med-and-down"> {{ usuariofull }}</i>
                    </li>
                </ul>
                <ul id="nav-mobile" class="right">
                    <li class="">
                        <a href="/cambiar-clave" class=""> <span class="hide-on-med-and-down"> </span> <i class="fa fa-key ">Cambiar Clave</i></a>
                    </li>                    
                    <li class="">
                        <a href="/logout" class=""> <span class="hide-on-med-and-down"> </span> <i class="fa fa-sign-out">Cerrar Sesion</i></a>
                    </li>
                    <li class="">
                        <i onclick="Materialize.showStaggeredList('#slide-out')" id="btnMenu" data-activates="slide-out" class="deslizar icono-menu fa fa-bars fa-2x ">
                    </li>
                </ul>
            </div>
        </nav>
    </div>

<ul id="slide-out" class="side-nav ">
        <li>
            <i class="iconos-pequeno prefix fa fa-user-o fa-2x"></i>
        </li>
        <li>
            <div class="divider"></div>
        </li>
        <li class=" ">
            <a href="/" class="btn">
                <i class="iconos-pequeno fa fa-home fa-1x"></i> Inicio</a>
        </li>
        <li>
            <a href="/persona" class="btn">
                <i class="iconos-pequeno fa fa-user fa-1x"></i> Agregar Personas </a>
        </li>
        <li class=" ">
            <a href="/asignacion" class="active-btn btn">
                <i class="iconos-pequeno fa fa-desktop fa-1x"></i> Equipos Asignados</a>
        </li>
        <li class=" ">
            <a href="/password" class="btn">
                <i class="iconos-pequeno fa fa-key fa-1x"></i> Cambiar Contraseña</a>
        </li>
        <li class=" ">
            <a href="" class="btn">
                <i class="iconos-pequeno fa fa-cog fa-1x"></i> Opciones</a>
        </li>
        <li class=" ">
            <a href="" class="btn">
                <i class="iconos-pequeno fa fa-power-off fa-1x"></i> Cerrar Sección</a>
        </li>
    </ul>
    
    <div class="row">
        <!--   Nombre Propietario o Inquilino   -->
        <div class="input-field col m2" >
            <i class="prefix fa fa-hashtag fa-3x"></i>
            <input id="nombre" name="nombre" type="text" required>
            <label for="nombre" class="active">Bloque </label>
        </div>
        <!--   Nombre Propietario o Inquilino   -->
        <div class="input-field col m2" >
            <i class="prefix fa fa-building-o fa-3x"></i>
            <input id="nombre" name="nombre" type="text" required>
            <label for="nombre" class="active">Apartamento </label>
        </div>
        <!--   Nombre Propietario o Inquilino   -->
        <div class="input-field col m2" >
            <i class="prefix fa fa-dollar fa-3x"></i>
            <input id="nombre" name="nombre" type="text" required>
            <label for="nombre" class="active">Monto a Pagar </label>
        </div>
        <!--   Nombre Propietario o Inquilino   -->
        <div class="input-field col m2">
            <i class="prefix fa fa-user-o fa-3x"></i>
            <input id="nombre" name="nombre" type="text" required>
            <label for="nombre" class="active">Concepto </label>
        </div>
        <!--   Nombre Propietario o Inquilino   -->
        <div class="input-field col m2" >
            <i class="prefix fa fa-dollar fa-3x"></i>
            <input id="nombre" name="nombre" type="text" required>
            <label for="nombre" class="active">Pendiente </label>
        </div>
        <!--   Nombre Propietario o Inquilino   -->
        <div class="input-field col m2" >
            <i class="prefix fa fa-user-o fa-3x"></i>
            <input id="nombre" name="nombre" type="text" required>
            <label for="nombre" class="active">Nombre </label>
        </div>
       
    </div>

    <script src="{% static '/jquery/jquery-3.2.1.min.js' %}"></script>
    <script src="{% static '/materialize/js/materialize.min.js' %}"></script>
    <script src="{% static '/style.js' %}"></script>
</body>

</html>