{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
    <title>Residencial</title>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />

    <link rel="stylesheet" href="{% static '/materialize/css/materialize.min.css' %}" media="screen,projection">
    <link rel="stylesheet" href="{% static '/font-awesome/css/font-awesome.min.css' %}">

    <link rel="stylesheet" href="{% static '/style.css' %}">
    <!--<link rel="icon" href="{% static '/imagenes/favicon.ico' %}" type="image / x-icon">-->
</head>

<body>


    <div class=" row">
        <div class=" box1 col m6 offset-m3 s12 x12">
            <form method="POST" action="{% url 'crear-cuenta' %}">{% csrf_token %}

                <div class="row">
                    <!--   Nombre Propietario o Inquilino   -->
                    <div class="input-field col m6" style="width:50%;">
                        <i class="prefix fa fa-user-o fa-3x"></i>
                        <input id="nombre" name="nombre" type="text" required>
                        <label for="nombre" class="active">Nombre </label>
                    </div>

                    <!--   Apellido Propietario o Inquilino   -->
                    <div class="input-field col m6" style="width:50%;">
                        <i class="prefix fa fa-user-o fa-3x"></i>
                        <input id="apellido" name="apellido" type="text" required>
                        <label for="apellido" class="active">Apellido</label>
                    </div>
                </div>

                <div class="row">
                    <!--   Apartamento Propietario o Inquilino   -->
                    <div class="input-field col m6" style="width:50%;">
                        <i class="prefix fa fa-building-o fa-3x"></i>
                        <input id="edificio" name="edificio" type="text" required>
                        <label for="edificio" class="active">No. Apartamento </label>
                    </div>

                    <!--   Edificio Propietario o Inquilino   -->
                    <div class="input-field col m6" style="width:50%;">
                        <i class="prefix fa fa-building-o fa-3x"></i>
                        <input id="apartamento" name="apartamento" type="text" required>
                        <label for="apartamento" class="active">No. Edificio</label>
                    </div>
                </div>
                <!--  Cedula Propietario o Inquilino  -->
                <div class="input-field">
                    <i class="prefix fa fa-id-card fa-3x"></i>
                    <input id="cedula" name="cedula" type="text" required>
                    <label for="cedula" class="active">Cedula</label>
                </div>

                <!--  Correo Propietario o Inquilino  -->
                <div class="input-field">
                    <i class="prefix fa fa-at fa-3x"></i>
                    <input id="correo" name="correo" type="email" required>
                    <label for="correo" class="active">Correo</label>
                </div>

                <!--  Telefono Propietario o Inquilino  -->
                <div class="input-field">
                    <i class="prefix fa fa-phone fa-3x"></i>
                    <input id="telefono" name="telefono" type="text" required>
                    <label for="telefono" class="active">Telefono</label>
                </div>

                <!--  Clave Propietario o Inquilino  -->
                <div class="input-field">
                    <i class="prefix fa fa-key fa-3x"></i>
                    <input id="clave" name="clave" type="password" required autocomplete="off">
                    <label for="clave" class="active">Clave</label>
                </div>

                <!--   Boton   -->
                <div class=" center group navform wat-cf">
                    <button class="btn hoverable waves-effect" type="submit">Registrar</button>
                </div>
            </form>
        </div>
    </div>






    <script src="{% static '/jquery/jquery-3.2.1.min.js' %}"></script>
    <script src="{% static '/materialize/js/materialize.min.js' %}"></script>
    <script src="{% static '/style.js' %}"></script>

</body>

</html>