{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
    <title>Registrar Pagos</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />

    <link rel="stylesheet" href="{% static '/materialize/css/materialize.min.css' %}" media="screen,projection">
    <link rel="stylesheet" href="{% static '/font-awesome/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static '/style.css' %}">
</head>

<body id="bPagos">


    <div class=" navbar-fixed">
        <nav class="">
            <div class="nav-wrapper ">
                <a href="/" class="brand-logo center"><span class="hide-on-small-only"> Registrar </span>Pagos</a>


                <!-- --- --- Boton Menu Lado Izquierdo --- --- -->
                <span class="left brand-logo text-darken-2">
					<i onclick="Materialize.showStaggeredList('#slide-out')" id="btnMenu" data-activates="slide-out" class="deslizar icono-menu fa fa-bars fa-1x "></i>
					</i>
				</span>
                <!-- --- --- Fin Boton Menu Lado Izquierdo --- --- -->



                <!-- --- --- Todo los que se muestra en el Menu del lado Derecho --- --- -->

                <ul class="right hide-on-med-and-down">
                    <li>
                        <form action="" method="POST"> {% csrf_token %}
                            <input class="search1" type="search" name="persona" value="" placeholder="Buscar persona">
                            <button class="boton btn" type="submit">
								<i id="search" class="fa fa-search"></i>Buscar</button>
                        </form>
                    </li>
                </ul>


                <!-- --- --- Fin todo los que se muestra en el Menu del lado Derecho --- --- -->
            </div>
        </nav>
    </div>


    <ul id="slide-out" class="side-nav ">
        <li class="">
            <div class="datos">
                <span class="usuario"> {{ usuariofull }}</span>
                <span class="email "> {{ email }}</span>
            </div>
        </li>
        <li>
            <div class="divider"></div>
        </li>
        <li class=" ">
            <a href="/" class="btn"> <i class=" fa fa-home fa-1x"></i> Inicio</a>
        </li>
        <li>
            <a href="{% url 'pagos' %}" class="active-btn btn"> <i class=" fa fa-dollar fa-1x"></i> Registrar Pagos </a>
        </li>
        <li class=" ">
            <a href="{% url 'clave' %}" class="btn"> <i class=" fa fa-key fa-1x"></i> Cambiar Contraseña</a>
        </li>
        <li class=" ">
            <a href="{% url 'logout' %}" class="btn"> <i class=" fa fa-power-off fa-1x"></i> Cerrar Sección</a>
        </li>
        <li class=" ">
            <a href="" class="disabled btn"> <i class=" fa fa-desktop fa-1x"></i> Equipos Asignados</a>
        </li>
        <li class=" ">
            <a href="" class="disabled btn"> <i class=" fa fa-cog fa-1x"></i> Opciones</a>
        </li>
        <li>
            <a href="" class="disabled btn"> <i class=" fa fa-user fa-1x"></i> Agregar Personas </a>
        </li>
    </ul>

    <div class=" center">
        <form action="" method="POST">{% csrf_token %}
            <div class="container center">
                <div class="row espacio">
                    <!--   Nombre Propietario o Inquilino   -->
                    <div class="input-field col m3 s12">
                        <i class="prefix fa fa-hashtag fa-3x"></i>
                        <input id="bloque" name="bloque" type="text" required autocomplete="off">
                        <label for="nombre" class="active">Bloque </label>
                    </div>
                    <!--   Nombre Propietario o Inquilino   -->
                    <div class="input-field col m3 s12">
                        <i class="prefix fa fa-building-o fa-3x"></i>
                        <input id="apartamento" name="apartamento" type="text" required autocomplete="off">
                        <label for="nombre" class="active">Apartamento </label>
                    </div>
                    <!--   Nombre Propietario o Inquilino   -->
                    <div class="input-field col m3 s12">
                        <i class="prefix fa fa-dollar fa-3x"></i>
                        <input id="montoPagar" name="montoPagar" type="text" required autocomplete="off">
                        <label for="nombre" class="active">Monto a Pagar </label>
                    </div>
                    <!--   Nombre Propietario o Inquilino   -->
                    <div class="input-field col m3 s12">
                        <i class="prefix fa fa-comments-o fa-3x"></i>
                        <input id="concepto" name="concepto" type="text" required>
                        <label for="nombre" class="active">Concepto </label>
                    </div>
                    <!--   Nombre Propietario o Inquilino   -->
                    <!--<div class="input-field col m2" >
                    <i class="prefix fa fa-dollar fa-3x"></i>
                    <input id="nombre" name="nombre" type="text" required>
                    <label for="nombre" class="active">Pendiente </label>
                </div>-->
                    <!--   Nombre Propietario o Inquilino   -->
                    <!--<div class="input-field col m2" >
                    <i class="prefix fa fa-comment-o fa-3x"></i>
                    <input id="nombre" name="nombre" type="text" required>
                    <label for="nombre" class="active">Nombre </label>
                </div>-->
                </div>


                <div class="row center">
                    <div class="input-field col m4 s12 offset-m1">
                        {% comment %} <label>Nombre Personas</label> {% endcomment %}
                        <select class=" " id="nombrePersona" name="nombrePersona">
                            <option value="" disabled selected>Nombre Personas</option>
                            {% for r in res %}
                            <option value="{{ r }}">{{ r.nombre }}</option>
                            {% endfor%}
                        </select>
                    </div>
                    <div class="input-field col m4 s12 offset-m1">
                        {% comment %} <label>Numero Apartamentos</label> {% endcomment %}
                        <select class=" " id="apartamento" name="no_apartamento">
                            <option value="" disabled selected>Apartamento</option>
                            {% for r in res %}
                            <option value="{{ r.edificio }}-{{r.no_apartamento}}">{{ r.edificio }}-{{r.no_apartamento}}</option>
                            {% endfor%}
                        </select>
                    </div>
                </div>

                <div class="input-field ">
                    <input class="btn" value="Guardar" type="submit" required>
                </div>
            </div>

        </form>
    </div>



    {% comment %}
    <div class="input-field col s12 m6">
        <select class="icons">
      <option value="" disabled selected>Choose your option</option>
      <option value="" data-icon="{% static '/media/fortinet.png' %}" class="left">Fortinet</option>
      <option value="" data-icon="{% static '/media/zimbra.png' %}" class="left">Zimbra</option>
      <option value="" data-icon="{% static '/media/postgreSQL.png' %}" class="left">postgreQSL</option>
      <option value="" data-icon="{% static '/media/otrs_admin.png' %}" class="left">OTRS</option>
    </select>
        <label>Images in select</label>
    </div> {% endcomment %}




    <script src="{% static '/jquery/jquery-3.2.1.min.js' %}"></script>
    <script src="{% static '/materialize/js/materialize.min.js' %}"></script>
    <script src="{% static '/style.js' %}"></script>


</body>

</html>