{% extends "plantilla.html" %} {% load static %}

<!-- Block para cargar los static CSS -->
<!-- {% block staticCSS %}
<link rel="stylesheet" href="{% static '/materialize-v1.0.0-rc.2/css/materialize.min.css' %}" media="screen,projection">
<link rel="stylesheet" href="{% static '/font-awesome-5.2.0/css/all.min.css' %}">
<link rel="stylesheet" href="{% static '/style.css' %}"> {% endblock staticCSS %} -->
<!-- Fin Block para cargar los static CSS -->

<!-- Block para el titulo -->
{% block titulo %} Registrar Pagos {% endblock titulo %}
<!-- Fin Block para el titulo -->

<!-- Block para marcar boton como activo-->
{% block activarPag %} active-btn {% endblock activarPag %}
<!-- Fin Block para marcar boton como activo-->

<!-- Block para mostrar el titulo en el Navar -->
{% block header %}
<a href="/" class="brand-logo center"><span class="hide-on-small-only"> Registrar </span>Pagos</a> {% endblock header %}
<!-- Fin Block para mostrar el titulo en el Navar -->

<!-- Block para mostrar el contenido de la pagina -->
{% block contenido %}
<div class=" center">
    <div class="container center">
        <div class="row espacio">
            <!--   Nombre Propietario o Inquilino   -->
            <div class="input-field col m2 s12">
                <i class="prefix fa fa-hashtag fa-3x"></i>
                <input id="bloque" name="bloque" type="text" required autocomplete="off">
                <label for="bloque" class="active">Bloque </label>
            </div>
            <!--   Nombre Propietario o Inquilino   -->
            <div class="input-field col m2 s12">
                <i class="prefix fa fa-building-o fa-3x"></i>
                <input id="apartamento" name="apartamento" type="text" required autocomplete="off">
                <label for="apartamento" class="active">Apartamento </label>
            </div>
            <!--   Nombre Propietario o Inquilino   -->
            <div class="input-field col m2 s12">
                <i class="prefix fa fa-dollar fa-3x"></i>
                <input id="montoPagar" name="montoPagar" type="text" required autocomplete="off">
                <label for="montoPagar" class="active">Monto a Pagar </label>
            </div>
            <!--   Nombre Propietario o Inquilino   -->
            <div class="input-field col m4 s12">
                <i class="prefix fa fa-comments-o fa-3x"></i>
                <input id="concepto" name="concepto" type="text" required>
                <label for="concepto" class="active">Concepto </label>
            </div>
            <div class="input-field col m2 s12">
                <input class="btn" value="Guardar" type="submit" required>
            </div>
        </div>

    </div>
    <div class="row center buscar">
        <!-- <div class="buscar"> -->
        <h5 class=" col m12 s12 " style="text-align:left">Buscar por número de apartamento</h5>
        <div class="input-field col m4 s12">
            <select class=" " id="no_apartamento" name="no_apartamento">
                    <option value="" disabled selected>Apartamento</option>
                    {% for r in res %}
                    <option value="{{ r.edificio }}-{{r.no_apartamento}}">{{ r.edificio }}-{{r.no_apartamento}}</option>
                    {% endfor%}
                </select>
        </div>
        <!-- </div> -->
    </div>
</div>
<p class="no-datos hide">No se pueden obtener los datos solicitados.</p>
<div id="tabla" class="container">
</div>
{% endblock contenido %}
<!-- Fin Block para mostrar el contenido de la pagina -->


<!-- Block para cargar los static JS -->
{% block staticJS %}
<script src="{% static '/jquery/jquery-3.2.1.min.js' %}"></script>
<script src="{% static './materialize-v1.0.0-rc.2/js/materialize.min.js' %}"></script>
<script src="{% static '/style.js' %}"></script>
<script src="{% static '/cargarDeudas.js' %}"></script>
{% endblock staticJS %}
<!-- Fin Block para cargar los static JS -->